.App {
  background-color: #302f57;
  min-height: 100vh;
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.add-task-inner {
  display: flex;
  padding: 10px;
  border-radius: 50px;
  background-color: #27264d;
  gap: 10px;
  align-items: center;
}

.add-task-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3d7eb5;
  position: relative;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.add-task-btn::before,
.add-task-btn::after {
  /* content: ""; */
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

input {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 14px;
}

input:focus {
  outline: none;
}

.input-add {
  padding-left: 10px;
  width: 100%;
  min-width: 250px;
  background: transparent;
  min-height: 36px;
  border: none;
  border-radius: 50px 0px 0px 50px;
}

.input-add::placeholder {
  color: #ffffff7a;
}
